<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
    
<body class="container">
    
    <main><div class="jumbotron"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Something blew up!</div></main>
    <footer><% include ../partials/footer %></footer>
    
</body>
</html>