    <ul id="messages" class="list-unstyled">
        <li ng-repeat="m in messages track by $index" class="text-muted">
            <span class="text-success">{{m.name}}:&nbsp;</span>{{m.message}}
        </li>
    </ul>
    <form ng-submit="send()">

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Type a message" aria-describedby="sizing-addon1" ng-model="message">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Send!</button>
            </span>
        </div>
    </form>
    <button type="button" class="btn btn-default navbar-btn" ng-click="signin()">Sign in</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="signout()">Sign out</button>
