<!-- views/partials/footer.ejs -->
<div class="navbar navbar-fixed-bottom">
    <p class="text-center text-muted"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Copyright 2015 Camo-Gatto Startup</p>
</div>
