<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Camo-Gatto Startup</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/static/bower_components/icomoon/dist/css/style.css">
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">

<script data-main="static/app/main.js" src="static/bower_components/requirejs/require.js"></script>

<!-- <script src="/socket.io/socket.io.js"></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/static/bower_components/angular-socket-io/socket.js"></script>
<script type="text/javascript" src="/static/app/app.js"></script>
<script type="text/javascript" src="/static/app/controllers/chat.controller.js"></script>
<script type="text/javascript" src="/static/app/services/socket.service.js"></script> -->
