<ul id="messages" class="list-unstyled chat-message">
    <li ng-repeat="m in messages track by $index" class="text-muted message">
        <img ng-src="{{me.profile}}" class="profile"/>
        <span>{{me.name}}:&nbsp; {{m.message}}</span>
    </li>
</ul>
<form ng-submit="send()" class="chat-form">

    <div class="input-group input-group-lg">
        <input type="text" class="form-control" ng-class="{'online': me.online, 'offline': !me.online}" placeholder="Type a message" aria-describedby="sizing-addon1" ng-model="message">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send!</button>
        </span>
    </div>
</form>
<!-- <button type="button" class="btn btn-default navbar-btn" ng-click="signin()">Sign in</button>
<button type="button" class="btn btn-default navbar-btn" ng-click="signout()">Sign out</button> -->


<a href="#" class="glyphicon glyphicon-menu-hamburger" data-toggle="modal" data-target="#myModal">menu</a>
<div id="myModal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Titolo</h4>
</div>
<div class="modal-body">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" ng-click="signin()" data-dismiss="modal">online</button>
<button type="button" class="btn btn-primary" ng-click="signout()" data-dismiss="modal">offline</button>
<a href="/logout">logout</a>
</div>
</div>
</div>
</div>
