<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Camo-Gatto Startup</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/static/bower_components/icomoon/dist/css/style.css">
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/static/bower_components/angular-socket-io/socket.js"></script>
<script type="text/javascript" src="/static/app/app.js"></script>
<script type="text/javascript" src="/static/app/controllers/chat.controller.js"></script>
<script type="text/javascript" src="/static/app/services/socket.service.js"></script>
<style>
    body    { padding-top:50px; background-color: #fcfcfc;}
    #messages {
        overflow: auto;
        height: 200px;
        overflow-y: visible;
    }
</style>